@keyframes text-gradient-animation {
    0% {
        background-position:0 50%;
        background-size:100% 150%
    }
    25% {
        background-position:100% 50%;
        background-size:350% 150%
    }
    50% {
        background-position:80% 50%;
        background-size:150% 150%
    }
    75% {
        background-position:100% 50%;
        background-size:250% 150%
    }
    to {
        background-position:0 50%;
        background-size:100% 150%
    }
}
